
body {
    background-image: url(29sjts.jpg), url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    font-family: 'Indie Flower', cursive;
    color: RGB(255,80,0)
}

/* The following are all ids */

#h1a {
    font-size: 180px;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 0px;
}

#h1b {
    font-size: 75px;
    margin-top: 150px;
    
}

#h2a {
    font-size: 50px;
}

#h3a {
    color: RGB(80,0,0);
    font-family: courier;
    font-size: 50px;
    text-align: center;
    padding-top: 25px;
}

#p1 {
    font-size: 60px;
    text-align: center;
    margin-top: 0px;
}

#section1 {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    margin-left: 0px
}

#section2 {
    background: RGBA(17,17,17,0.8);
    border-left: 5px solid rgba(52, 152, 219,1.0);
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(151,144,138);
    font-family: "Trebuchet MS", "Tahoma", sans-serif;
    font-size: 15px
}

/* End of ids */
/* The following are all classes */

p.star {
    text-align: center;
}
