/* direct css, no ids/classes */

body {
    background: url(markus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    font-family: mathilde;
    color: RGB(220,220,220);
    text-shadow: 1px 1px 2px black; 
}

a {
    text-decoration:none;
    position:fixed;
    top: 20px;
    color: rgb(200,200,200);
}

@font-face {
    font-family: 'Mathilde';
    font-style: normal;
    font-weight: normal;
    src: local('Mathilde'), url('mathilde.woff') format('woff');
}

/* nav */

a {
    text-decoration:none;
    position:fixed;
    top: 20px;
    color: rgb(200,200,200);
}

div:hover{
    background: rgba(1, 78, 135,0.7);
}

#navtable {
    background: rgba(1, 88, 145,0.6);
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(120,190,80);
}

#about {
    position: fixed; right: 790px;
    height: 85px;
    width: 130px;
    top: 0;
    transition: 0.4s ease-in-out;
    background: rgba(1, 88, 145,1.0);
}

#write {
    position: fixed; right: 660px;
    height: 85px;
    width: 130px;
    top: 0;
    transition: 0.4s ease-in-out;
}

#photo {
    position: fixed; right: 440px;
    height: 85px;
    width: 220px;
    top: 0;
    transition: 0.4s ease-in-out;
}

#design {
    position: fixed; right: 220px;
    height: 85px;
    width: 220px;
    top: 0;
    transition: 0.4s ease-in-out;
}

#dev {
    position: fixed; right: 0;
    height: 85px;
    width: 220px;
    top: 0;
    transition: 0.4s ease-in-out;
}

/* End of nav ids */
/* nav Clases*/

.textdiv {
    position: fixed;
    right: 0;
    top: 17px;
    font-size: 50px;
    text-shadow: 1px 1px 2px black; 
}

.icon-image {
    position: fixed;
    width: 170px;
    left: 30px;
    top: 10px;
}

/* nav end*/
/* Ids */

#p1 {
    font-size: 150px;
    margin-top: 190px;
    margin-bottom: 0px;
}

#p2 {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#h1a{
    text-align: left;
    font-size: 60px;
    margin-bottom: 5px;
    
}

#p3 {
    margin-top: 0px;
    font-size: 40px;
    text-align: left;
    padding-right: 50%;
}

#section1 {
    padding-top: 0px;
    margin-top: 50px;
    text-align: center;
}

/* End if ids */
